<div class="text-center m-5 bg-light bg-gradient p-5 rounded-3">
  <h1 class="text-success">Bienvenido a Hulk Store</h1>
  <p class="lead">La empresa Todo1 ha decido realizar un emprendimiento, el cual consiste en la creación de una tienda
    de productos para sus empleados, aquí podrás encontrar camisetas, vasos, comics, juguetes y accesorios basados en
    los superhéroes de Marvel y DC comics, incluso algunos alternativos creados por la comunidad.</p>
  <hr class="my-4">
  <p>Podrás crear productos, categorias y usuarios.</p>
</div>
